### Read data set 1

In [2]:

#Import the pandas, NumPy, and os libraries
import pandas as pd
import os


path = r'C:\\Users\\mutta\\Documents\\Project 4\\' 

order_CSV = os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv')

df_orders = pd.read_csv(order_CSV, index_col = False)

In [2]:

pd.options.display.float_format = '{:.2f}'.format

class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

In [6]:

pd.options.display.float_format = '{:.2f}'.format
df_orders.round(2)
df_orders.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3421083.00,3421083.00,3421083.00,3421083.00,3421083.00,3421083.00
mean,1710542.00,102978.21,17.15,2.78,13.45,10.44
std,987581.74,59533.72,17.73,2.05,4.23,9.31
min,1.00,1.00,1.00,0.00,0.00,0.00
25%,855271.50,51394.00,5.00,1.00,10.00,4.00
50%,1710542.00,102689.00,11.00,3.00,13.00,7.00
75%,2565812.50,154385.00,23.00,5.00,16.00,15.00
max,3421083.00,206209.00,100.00,6.00,23.00,30.00

### Read data set 2

In [7]:

df_ords_prior_CSV = os.path.join(path, '02 Data', 'Original Data','order_products__prior', 'order_products__prior.csv')
df_ords_prior = pd.read_csv(df_ords_prior_CSV, index_col = False)
df_ords_prior.describe()

         order_id  product_id  add_to_cart_order   reordered
count 32434489.00 32434489.00        32434489.00 32434489.00
mean   1710748.52    25576.34               8.35        0.59
std     987300.70    14096.69               7.13        0.49
min          2.00        1.00               1.00        0.00
25%     855943.00    13530.00               3.00        0.00
50%    1711048.00    25256.00               6.00        1.00
75%    2565514.00    37935.00              11.00        1.00
max    3421083.00    49688.00             145.00        1.00

In [10]:
print(df_ords_prior.isnull().sum())

df_ords_dups = df_ords_prior[df_ords_prior.duplicated()]
print(df_ords_dups)

df_ords_dups = df_ords_prior[df_ords_prior[['order_id','product_id']].duplicated()]
print(df_ords_dups)

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64
Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []
Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

### Merge data sets

In [5]:
print('Merging data set...')
df_merged_large = df_orders.merge(df_ords_prior, on = 'order_id', indicator = True)

print('------------------------------------')
print(df_merged_large.describe())

print('------------------------------------')
print(df_merged_large.head(10))
print('------------------------------------')

Merging data set...
------------------------------------
         order_id     user_id  order_number  orders_day_of_week  \
count 32434489.00 32434489.00   32434489.00         32434489.00
mean   1710748.52   102937.24         17.14                2.74
std     987300.70    59466.48         17.54                2.09
min          2.00        1.00          1.00                0.00
25%     855943.00    51421.00          5.00                1.00
50%    1711048.00   102611.00         11.00                3.00
75%    2565514.00   154391.00         24.00                5.00
max    3421083.00   206209.00         99.00                6.00

       order_hour_of_day  days_since_prior_order  product_id  \
count        32434489.00             32434489.00 32434489.00
mean               13.42                   10.39    25576.34
std                 4.25                    8.92    14096.69
min                 0.00                    0.00        1.00
25%                10.00                    4.00    13530.00
50%                13.00                    7.00    25256.00
75%                16.00                   14.00    37935.00
max                23.00                   30.00    49688.00

       add_to_cart_order   reordered
count        32434489.00 32434489.00
mean                8.35        0.59
std                 7.13        0.49
min                 1.00        0.00
25%                 3.00        0.00
50%                 6.00        1.00
75%                11.00        1.00
max               145.00        1.00
------------------------------------
   order_id  user_id  order_number  orders_day_of_week  order_hour_of_day  \
0   2539329        1             1                   2                  8
1   2539329        1             1                   2                  8
2   2539329        1             1                   2                  8
3   2539329        1             1                   2                  8
4   2539329        1             1                   2                  8
5   2398795        1             2                   3                  7
6   2398795        1             2                   3                  7
7   2398795        1             2                   3                  7
8   2398795        1             2                   3                  7
9   2398795        1             2                   3                  7

   days_since_prior_order  product_id  add_to_cart_order  reordered _merge
0                    0.00         196                  1          0   both
1                    0.00       14084                  2          0   both
2                    0.00       12427                  3          0   both
3                    0.00       26088                  4          0   both
4                    0.00       26405                  5          0   both
5                   15.00         196                  1          1   both
6                   15.00       10258                  2          0   both
7                   15.00       12427                  3          1   both
8                   15.00       13176                  4          0   both
9                   15.00       26088                  5          1   both
------------------------------------

In [6]:


print(df_merged_large['_merge'].value_counts())

print('\n\nNumber of rows in combined order product:', df_merged_large.shape[0])
print('Number of columns in combined order product:', df_merged_large.shape[1])


print(color.BLUE + 
      'Total Number unmatched order ids:',  df_ords_prior.shape[0] - df_merged_large.shape[0] )

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64


Number of rows in combined order product: 32434489
Number of columns in combined order product: 10
Total Number unmatched order ids: 0

### export merged data sets to pkl file

In [7]:


df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

print('Data exported successfully')

Data exported successfully