# 4.7: Deriving New Variables

In [1]:
import pandas as pd
import os



path = r'C:\\Users\\mutta\\Documents\\Project 4\\' 


ords_prods_merged_pkl = os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl')

df_ords_prods_merged  = pd.read_pickle(ords_prods_merged_pkl)

df_ords_prods_merged.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77.0,7.0,9.0
1,2539329,1,1,2,8,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5
2,2539329,1,1,2,8,0.0,12427,3,0,Original Beef Jerky,23.0,19.0,4.4
3,2539329,1,1,2,8,0.0,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7
4,2539329,1,1,2,8,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0
5,2398795,1,2,3,7,15.0,196,1,1,Soda,77.0,7.0,9.0
6,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,117.0,19.0,3.0
7,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,23.0,19.0,4.4
8,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,24.0,4.0,10.3
9,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,23.0,19.0,4.7

In [2]:
pd.options.display.float_format = '{:.2f}'.format

class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'




### create the “price_label” and “busiest_day” columns

In [3]:
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] > 15, 'price_label'] = 'High-range product'
df_ords_prods_merged.loc[(df_ords_prods_merged['prices'] <= 15) & (df_ords_prods_merged['prices'] > 5),
                                                 'price_label'] = 'Mid-range product' 
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] <= 5, 'price_label'] = 'Low-range product'

In [4]:
result = []

print(color.BLUE + color.BOLD + 'Creating busiest day list')

for value in df_ords_prods_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")
    
df_ords_prods_merged['busiest_day'] = result

print(df_ords_prods_merged.columns)

Creating busiest day list
Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_label', 'busiest_day'],
      dtype='object')

In [5]:

print(color.BLUE + color.BOLD +'Total number of orders in a day of the week' + color.END)
print(df_ords_prods_merged["orders_day_of_week"].value_counts(dropna=False))

print('-----------------------------------------------------------')

print(color.BLUE + color.BOLD + 'Classification of busy days of the week'+ color.END)
print(df_ords_prods_merged['busiest_day'].value_counts(dropna=False))


print('-----------------------------------------------------------')

print(color.BLUE + color.BOLD +'Classification of price orders'+ color.END)
print(df_ords_prods_merged['price_label'].value_counts(dropna=False))

print('-----------------------------------------------------------')

Total number of orders in a day of the week
0    6209808
1    5665951
6    4500391
2    4217868
5    4209603
3    3844175
4    3787263
Name: orders_day_of_week, dtype: int64
-----------------------------------------------------------
Classification of busy days of the week
Regularly busy    22437988
Busiest day        6209808
Least busy         3787263
Name: busiest_day, dtype: int64
-----------------------------------------------------------
Classification of price orders
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
NaN                      30200
Name: price_label, dtype: int64
-----------------------------------------------------------

### Reclassification of busy days of the week

In [6]:
df_ords_prods_merged.loc[df_ords_prods_merged['orders_day_of_week'] <= 1, 'busy_days_of_the_week'] = 'Busiest days'

df_ords_prods_merged.loc[(df_ords_prods_merged['orders_day_of_week'] == 6) |
                          (df_ords_prods_merged['orders_day_of_week'] == 2) |
                         (df_ords_prods_merged['orders_day_of_week'] == 5), 'busy_days_of_the_week'] = 'Regular days'

df_ords_prods_merged.loc[(df_ords_prods_merged['orders_day_of_week'] == 3) |
                          (df_ords_prods_merged['orders_day_of_week'] == 4) , 'busy_days_of_the_week'] = 'slowest days'

In [7]:
print('-----------------------------------------------------------')

print(color.BLUE + color.BOLD + 'Re-classification of busy days of the week'+ color.END)
print(df_ords_prods_merged['busy_days_of_the_week'].value_counts(dropna=False))
print('-----------------------------------------------------------')
print(color.BLUE + color.BOLD + 'Total number of orders in a day of the week'+ color.END)
print(  df_ords_prods_merged.groupby(['orders_day_of_week','busy_days_of_the_week'])['order_id'].count().sort_values())

-----------------------------------------------------------
Re-classification of busy days of the week
Regular days    12927862
Busiest days    11875759
slowest days     7631438
Name: busy_days_of_the_week, dtype: int64
-----------------------------------------------------------
Total number of orders in a day of the week
orders_day_of_week  busy_days_of_the_week
4                   slowest days             3787263
3                   slowest days             3844175
5                   Regular days             4209603
2                   Regular days             4217868
6                   Regular days             4500391
1                   Busiest days             5665951
0                   Busiest days             6209808
Name: order_id, dtype: int64



### Busiest hours of day

In [8]:
df_hod = df_ords_prods_merged['order_hour_of_day'].value_counts()

print(color.BLUE + color.BOLD + 'Total orders in each hour of the day '+ color.END)
print(df_hod)

Total orders in each hour of the day
10    2764476
11    2738647
14    2691598
15    2664583
13    2663346
12    2620898
16    2537506
9     2456751
17    2089510
8     1719991
18    1637956
19    1259416
20     977049
7      891951
21     796379
22     634743
23     402621
6      290796
0      218951
1      115787
5       88064
2       69435
4       53284
3       51321
Name: order_hour_of_day, dtype: int64

In [9]:
most_orders_threeshold = 2500000
fewest_orders_threeshold = 100000

Most_orders = df_hod[df_hod.gt(most_orders_threeshold, axis=0)]

Average_orders = df_hod[(df_hod.le(most_orders_threeshold, axis=0)) & 
                        df_hod.ge(fewest_orders_threeshold, axis=0)]

Fewest_orders = df_hod[df_hod.lt(fewest_orders_threeshold, axis=0)]


print(color.BLUE + color.BOLD + 'Most orders of the hours:' + color.END, Most_orders.index)

print(color.BLUE + color.BOLD + 'Fewest orders of the hours:' + color.END,Fewest_orders.index)

print(color.BLUE + color.BOLD + 'Average orders of the hours:' + color.END,Average_orders.index)

Most orders of the hours: Int64Index([10, 11, 14, 15, 13, 12, 16], dtype='int64')
Fewest orders of the hours: Int64Index([5, 2, 4, 3], dtype='int64')
Average orders of the hours: Int64Index([9, 17, 8, 18, 19, 20, 7, 21, 22, 23, 6, 0, 1], dtype='int64')

### Create busiest_period_of_day column('Most orders', 'Fewest orders', 'Average orders' )

In [10]:
df_ords_prods_merged.loc[df_ords_prods_merged['order_hour_of_day'].isin(Most_orders.index),
                         'busiest_period_of_day'] = 'Most orders'

df_ords_prods_merged.loc[df_ords_prods_merged['order_hour_of_day'].isin(Fewest_orders.index),
                         'busiest_period_of_day'] = 'Fewest orders'

df_ords_prods_merged.loc[df_ords_prods_merged['order_hour_of_day'].isin(Average_orders.index),
                         'busiest_period_of_day'] = 'Average orders'

In [11]:

busiest_hours =  df_ords_prods_merged.groupby(['order_hour_of_day','busiest_period_of_day'])['order_id'].count().sort_values()

In [12]:

print('-----------------------------------------------------------')

print(color.BLUE + color.BOLD + 'Classification of busy hours of the day'+ color.END)

print(df_ords_prods_merged['busiest_period_of_day'].value_counts(dropna=False))

print('-----------------------------------------------------------')
print(color.BLUE + color.BOLD + 'Classification of hours of the day'+ color.END)
print(busiest_hours)

-----------------------------------------------------------
Classification of busy hours of the day
Most orders       18681054
Average orders    13491901
Fewest orders       262104
Name: busiest_period_of_day, dtype: int64
-----------------------------------------------------------
Classification of hours of the day
order_hour_of_day  busiest_period_of_day
3                  Fewest orders              51321
4                  Fewest orders              53284
2                  Fewest orders              69435
5                  Fewest orders              88064
1                  Average orders            115787
0                  Average orders            218951
6                  Average orders            290796
23                 Average orders            402621
22                 Average orders            634743
21                 Average orders            796379
7                  Average orders            891951
20                 Average orders            977049
19                 Average orders           1259416
18                 Average orders           1637956
8                  Average orders           1719991
17                 Average orders           2089510
9                  Average orders           2456751
16                 Most orders              2537506
12                 Most orders              2620898
13                 Most orders              2663346
15                 Most orders              2664583
14                 Most orders              2691598
11                 Most orders              2738647
10                 Most orders              2764476
Name: order_id, dtype: int64

In [13]:
print(color.BLUE + color.BOLD + 'Columns in dataframe' + color.END)
print(df_ords_prods_merged.columns)

print('------------------------------------------')
print(color.BLUE + color.BOLD + '\nNumber of rows in dataframe:' + color.END, df_ords_prods_merged.shape[0])

print(color.BLUE + color.BOLD + '\nNumber of columns in dataframe:' + color.END, df_ords_prods_merged.shape[1])

print('------------------------------------------')
print(df_ords_prods_merged.head(10))

Columns in dataframe
Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_label', 'busiest_day',
       'busy_days_of_the_week', 'busiest_period_of_day'],
      dtype='object')
------------------------------------------

Number of rows in dataframe: 32435059

Number of columns in dataframe: 17
------------------------------------------
   order_id  user_id  order_number  orders_day_of_week  order_hour_of_day  \
0   2539329        1             1                   2                  8
1   2539329        1             1                   2                  8
2   2539329        1             1                   2                  8
3   2539329        1             1                   2                  8
4   2539329        1             1                   2                  8
5   2398795        1             2                   3                  7
6   2398795        1             2                   3                  7
7   2398795        1             2                   3                  7
8   2398795        1             2                   3                  7
9   2398795        1             2                   3                  7

   days_since_prior_order  product_id  add_to_cart_order  reordered  \
0                    0.00         196                  1          0
1                    0.00       14084                  2          0
2                    0.00       12427                  3          0
3                    0.00       26088                  4          0
4                    0.00       26405                  5          0
5                   15.00         196                  1          1
6                   15.00       10258                  2          0
7                   15.00       12427                  3          1
8                   15.00       13176                  4          0
9                   15.00       26088                  5          1

                              product_name  aisle_id  department_id  prices  \
0                                     Soda     77.00           7.00    9.00
1  Organic Unsweetened Vanilla Almond Milk     91.00          16.00   12.50
2                      Original Beef Jerky     23.00          19.00    4.40
3               Aged White Cheddar Popcorn     23.00          19.00    4.70
4         XL Pick-A-Size Paper Towel Rolls     54.00          17.00    1.00
5                                     Soda     77.00           7.00    9.00
6                               Pistachios    117.00          19.00    3.00
7                      Original Beef Jerky     23.00          19.00    4.40
8                   Bag of Organic Bananas     24.00           4.00   10.30
9               Aged White Cheddar Popcorn     23.00          19.00    4.70

         price_label     busiest_day busy_days_of_the_week  \
0  Mid-range product  Regularly busy          Regular days
1  Mid-range product  Regularly busy          Regular days
2  Low-range product  Regularly busy          Regular days
3  Low-range product  Regularly busy          Regular days
4  Low-range product  Regularly busy          Regular days
5  Mid-range product  Regularly busy          slowest days
6  Low-range product  Regularly busy          slowest days
7  Low-range product  Regularly busy          slowest days
8  Mid-range product  Regularly busy          slowest days
9  Low-range product  Regularly busy          slowest days

  busiest_period_of_day
0        Average orders
1        Average orders
2        Average orders
3        Average orders
4        Average orders
5        Average orders
6        Average orders
7        Average orders
8        Average orders
9        Average orders

In [14]:
# Export data to pkl

print('Saving the dataframe..')

df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_classified.pkl'))

print('Data exported successfully')

Saving the dataframe..
Data exported successfully