
# (Part 1) 4.9 Intro to Data Visualization with Python

In [6]:
import pandas as pd
import numpy as np
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

pd.options.display.float_format = '{:.2f}'.format

class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

In [3]:

    
print(color.BLUE + 'Read orders_products_classified.pkl file' + color.END)

path = r'C:\\Users\\mutta\\Documents\\Project 4\\' 


ords_prods_merged_pkl = os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_grouped.pkl')

df_ords_prods_merged  = pd.read_pickle(ords_prods_merged_pkl)


df_ords_prods_merged.head(10)

Read orders_products_classified.pkl file

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_label,busiest_day,busy_days_of_the_week,busiest_period_of_day,max_order,loyalty_flag,max_product_orders,spending_flag,median_of_frequency,frequency_flag
0,2539329,1,1,2,8,0.00,196,1,0,Soda,...,Mid-range product,Regularly busy,Regular days,Average orders,10,New customer,6.37,Low spender,20.00,Regular customer
1,2539329,1,1,2,8,0.00,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,Mid-range product,Regularly busy,Regular days,Average orders,10,New customer,6.37,Low spender,20.00,Regular customer
2,2539329,1,1,2,8,0.00,12427,3,0,Original Beef Jerky,...,Low-range product,Regularly busy,Regular days,Average orders,10,New customer,6.37,Low spender,20.00,Regular customer
3,2539329,1,1,2,8,0.00,26088,4,0,Aged White Cheddar Popcorn,...,Low-range product,Regularly busy,Regular days,Average orders,10,New customer,6.37,Low spender,20.00,Regular customer
4,2539329,1,1,2,8,0.00,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,Low-range product,Regularly busy,Regular days,Average orders,10,New customer,6.37,Low spender,20.00,Regular customer
5,2398795,1,2,3,7,15.00,196,1,1,Soda,...,Mid-range product,Regularly busy,slowest days,Average orders,10,New customer,6.37,Low spender,20.00,Regular customer
6,2398795,1,2,3,7,15.00,10258,2,0,Pistachios,...,Low-range product,Regularly busy,slowest days,Average orders,10,New customer,6.37,Low spender,20.00,Regular customer
7,2398795,1,2,3,7,15.00,12427,3,1,Original Beef Jerky,...,Low-range product,Regularly busy,slowest days,Average orders,10,New customer,6.37,Low spender,20.00,Regular customer
8,2398795,1,2,3,7,15.00,13176,4,0,Bag of Organic Bananas,...,Mid-range product,Regularly busy,slowest days,Average orders,10,New customer,6.37,Low spender,20.00,Regular customer
9,2398795,1,2,3,7,15.00,26088,5,1,Aged White Cheddar Popcorn,...,Low-range product,Regularly busy,slowest days,Average orders,10,New customer,6.37,Low spender,20.00,Regular customer

###### Read Customer data

In [7]:

customer_csv = os.path.join(path, '02 Data', 'Original Data', '4.9_customers', 'customers.csv')

df_customer_csv  = pd.read_csv(customer_csv, index_col = False)

df_customer_csv.describe()

        user_id       Age  n_dependants    income
count 206209.00 206209.00     206209.00 206209.00
mean  103105.00     49.50          1.50  94632.85
std    59527.56     18.48          1.12  42473.79
min        1.00     18.00          0.00  25903.00
25%    51553.00     33.00          0.00  59874.00
50%   103105.00     49.00          1.00  93547.00
75%   154657.00     66.00          3.00 124244.00
max   206209.00     81.00          3.00 593901.00

In [5]:
df_customer_csv.shape

(206209, 10)

In [9]:
print(df_customer_csv.isnull().sum())

df_customer_dups = df_customer_csv[df_customer_csv.duplicated()]
print(df_customer_dups)

df_customer_dups = df_customer_csv[df_customer_csv['user_id'].duplicated()]
print(df_customer_dups)

user_id             0
First Name      11259
Surnam              0
Gender              0
STATE               0
Age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64
Empty DataFrame
Columns: [user_id, First Name, Surnam, Gender, STATE, Age, date_joined, n_dependants, fam_status, income]
Index: []
Empty DataFrame
Columns: [user_id, First Name, Surnam, Gender, STATE, Age, date_joined, n_dependants, fam_status, income]
Index: []

In [8]:
df_customer_csv.columns

Index(['user_id', 'First Name', 'Surnam', 'Gender', 'STATE', 'Age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')

In [9]:
df_customer_csv.head(10)

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374
5,133128,Cynthia,Noble,Female,Kentucky,43,1/1/2017,2,married,49643
6,152052,Chris,Walton,Male,Montana,20,1/1/2017,0,single,61746
7,168851,Joseph,Hickman,Male,South Carolina,30,1/1/2017,0,single,63712
8,69965,Jeremy,Vang,Male,Texas,47,1/1/2017,1,married,162432
9,82820,Shawn,Chung,Male,Virginia,26,1/1/2017,2,married,32072

## Data Wrangling

#### Dropping columns from df_ords_prods_merged

In [10]:
df_ords_prods_merged.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_label', 'busiest_day',
       'busy_days_of_the_week', 'busiest_period_of_day', 'max_order',
       'loyalty_flag', 'max_product_orders', 'spending_flag',
       'median_of_frequency', 'frequency_flag'],
      dtype='object')

In [16]:
df_ords_prods_merged = df_ords_prods_merged.drop(columns = ['max_order', 'max_product_orders', 'median_of_frequency', 'busiest_day'])

In [17]:
df_ords_prods_merged.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_label', 'busy_days_of_the_week',
       'busiest_period_of_day', 'loyalty_flag', 'spending_flag',
       'frequency_flag'],
      dtype='object')

#### Renaming columns customer_csv

In [18]:
print(df_customer_csv.columns)

df_customer_csv.rename(columns = {'Surnam' : 'last_name',
                                  'STATE' : 'state',
                                  'n_dependants' : 'no_of_dependents',
                                  'fam_status' : 'marital_status',
                                  'Gender' : 'gender',
                                  'Age' : 'age',
                                  'First Name' : 'first_name'
                                 }, inplace = True)

print(df_customer_csv.columns)

Index(['user_id', 'First Name', 'Surnam', 'Gender', 'STATE', 'Age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')

#### Changing data types

In [30]:
print(df_customer_csv.dtypes)

df_customer_csv['user_id'] = df_customer_csv['user_id'].astype('str')
df_customer_csv['first_name'] = df_customer_csv['first_name'].astype('str')
df_customer_csv['last_name'] = df_customer_csv['last_name'].astype('str')
df_customer_csv['gender'] = df_customer_csv['gender'].astype('str')
df_customer_csv['state'] = df_customer_csv['state'].astype('str')
df_customer_csv['marital_status'] = df_customer_csv['marital_status'].astype('str')
df_customer_csv['date_joined'] = df_customer_csv['date_joined'].astype('datetime64[ns]')

print(df_customer_csv.dtypes)

In [33]:
print(df_ords_prods_merged.dtypes)

print('Change data types')

df_ords_prods_merged['order_id'] = df_ords_prods_merged['order_id'].astype('str')
df_ords_prods_merged['user_id'] = df_ords_prods_merged['user_id'].astype('str')
df_ords_prods_merged['product_id'] = df_ords_prods_merged['product_id'].astype('str')
df_ords_prods_merged['aisle_id'] = df_ords_prods_merged['aisle_id'].astype('str')
df_ords_prods_merged['department_id'] = df_ords_prods_merged['department_id'].astype('str')

print('After changes in data types')

print(df_ords_prods_merged.dtypes)

order_id                    int64
user_id                     int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
product_id                  int64
add_to_cart_order           int64
reordered                   int64
product_name               object
aisle_id                  float64
department_id             float64
prices                    float64
price_label                object
busy_days_of_the_week      object
busiest_period_of_day      object
loyalty_flag               object
spending_flag              object
frequency_flag             object
dtype: object
order_id                   object
user_id                    object
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
product_id                 object
add_to_cart_order           int64
reordered                   int64
product_name               object
aisle_id                   object
department_id              object
prices                    float64
price_label                object
busy_days_of_the_week      object
busiest_period_of_day      object
loyalty_flag               object
spending_flag              object
frequency_flag             object
dtype: object

## Consistency checks

#### Finding and addressing mixed data types

In [35]:
def validate_mixed_type_check(df):
    mixed_col_count = 0
    for col in df.columns.tolist():
      weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
      if len (df[weird]) > 0:
        print (color.RED + 'Column', col, ' contains mixed type values' + color.END)
        mixed_col_count = mixed_col_count + 1
      else:
        print('Column', col ,'  contains same data type values')

    print(color.BOLD +'\n\n### Total number mixed data type column :', mixed_col_count, '###'+ color.END)

In [36]:
validate_mixed_type_check(df_customer_csv)

Column user_id   contains same data type values
Column First Name   contains same data type values
Column last_name   contains same data type values
Column gender   contains same data type values
Column state   contains same data type values
Column age   contains same data type values
Column date_joined   contains same data type values
Column no_of_dependents   contains same data type values
Column marital_status   contains same data type values
Column income   contains same data type values
### Total number mixed data type column : 0 ###

#### Finding and addressing missing values

In [38]:
df_ords_prods_merged.isnull().sum()

order_id                      0
user_id                       0
order_number                  0
orders_day_of_week            0
order_hour_of_day             0
days_since_prior_order        0
product_id                    0
add_to_cart_order             0
reordered                     0
product_name              30200
aisle_id                      0
department_id                 0
prices                    30200
price_label               30200
busy_days_of_the_week         0
busiest_period_of_day         0
loyalty_flag                  0
spending_flag                 0
frequency_flag                0
dtype: int64

In [39]:
df_customer_csv.isnull().sum()

user_id             0
First Name          0
last_name           0
gender              0
state               0
age                 0
date_joined         0
no_of_dependents    0
marital_status      0
income              0
dtype: int64

#### Finding and addressing duplicate records

In [43]:
print('Find duplicate records')

df_customer_csv[df_customer_csv.duplicated()]

Find duplicate records

Empty DataFrame
Columns: [user_id, First Name, last_name, gender, state, age, date_joined, no_of_dependents, marital_status, income]
Index: []

In [44]:
print('Find duplicate user ids')

df_customer_csv[df_customer_csv['user_id'].duplicated()]

Find duplicate user ids

Empty DataFrame
Columns: [user_id, First Name, last_name, gender, state, age, date_joined, no_of_dependents, marital_status, income]
Index: []

## Combining Data with customer information

In [46]:
df_ords_prods_merged['user_id'].value_counts()

201268    3725
129928    3638
164055    3061
186704    2936
176478    2921
          ...
57054        3
188979       3
119944       3
109820       3
124119       3
Name: user_id, Length: 206209, dtype: int64

In [47]:
df_customer_csv['user_id'].value_counts()

26711     1
67322     1
173044    1
61044     1
98344     1
         ..
146847    1
154991    1
172193    1
184326    1
80148     1
Name: user_id, Length: 206209, dtype: int64

In [48]:
print('Merging data set...')
df_ords_prods_merged = df_ords_prods_merged.merge(df_customer_csv, on = 'user_id', indicator = True)

Merging data set...

In [49]:

print('------------------------------------')
print(df_ords_prods_merged.describe())

print('------------------------------------')
print(df_ords_prods_merged.head(10))
print('------------------------------------')

print(df_ords_prods_merged['_merge'].value_counts())

print('\n\nNumber of rows in combined order, product, customer data:', df_ords_prods_merged.shape[0])
print('Number of columns in combined order, product, customer data:', df_ords_prods_merged.shape[1])

------------------------------------
       order_number  orders_day_of_week  order_hour_of_day  \
count   32435059.00         32435059.00        32435059.00
mean          17.14                2.74              13.42
std           17.53                2.09               4.25
min            1.00                0.00               0.00
25%            5.00                1.00              10.00
50%           11.00                3.00              13.00
75%           24.00                5.00              16.00
max           99.00                6.00              23.00

       days_since_prior_order  add_to_cart_order   reordered      prices  \
count             32435059.00        32435059.00 32435059.00 32404859.00
mean                    10.39               8.35        0.59       11.98
std                      8.92               7.13        0.49      495.66
min                      0.00               1.00        0.00        1.00
25%                      4.00               3.00        0.00        4.20
50%                      7.00               6.00        1.00        7.40
75%                     14.00              11.00        1.00       11.30
max                     30.00             145.00        1.00    99999.00

              age  no_of_dependents      income
count 32435059.00       32435059.00 32435059.00
mean        49.47              1.50    99435.50
std         18.49              1.12    43055.40
min         18.00              0.00    25903.00
25%         33.00              1.00    67002.00
50%         49.00              2.00    96612.00
75%         65.00              3.00   127908.00
max         81.00              3.00   593901.00
------------------------------------
  order_id user_id  order_number  orders_day_of_week  order_hour_of_day  \
0  2539329       1             1                   2                  8
1  2539329       1             1                   2                  8
2  2539329       1             1                   2                  8
3  2539329       1             1                   2                  8
4  2539329       1             1                   2                  8
5  2398795       1             2                   3                  7
6  2398795       1             2                   3                  7
7  2398795       1             2                   3                  7
8  2398795       1             2                   3                  7
9  2398795       1             2                   3                  7

   days_since_prior_order product_id  add_to_cart_order  reordered  \
0                    0.00        196                  1          0
1                    0.00      14084                  2          0
2                    0.00      12427                  3          0
3                    0.00      26088                  4          0
4                    0.00      26405                  5          0
5                   15.00        196                  1          1
6                   15.00      10258                  2          0
7                   15.00      12427                  3          1
8                   15.00      13176                  4          0
9                   15.00      26088                  5          1

                              product_name  ... First Name last_name  gender  \
0                                     Soda  ...      Linda    Nguyen  Female
1  Organic Unsweetened Vanilla Almond Milk  ...      Linda    Nguyen  Female
2                      Original Beef Jerky  ...      Linda    Nguyen  Female
3               Aged White Cheddar Popcorn  ...      Linda    Nguyen  Female
4         XL Pick-A-Size Paper Towel Rolls  ...      Linda    Nguyen  Female
5                                     Soda  ...      Linda    Nguyen  Female
6                               Pistachios  ...      Linda    Nguyen  Female
7                      Original Beef Jerky  ...      Linda    Nguyen  Female
8                   Bag of Organic Bananas  ...      Linda    Nguyen  Female
9               Aged White Cheddar Popcorn  ...      Linda    Nguyen  Female

     state age date_joined no_of_dependents marital_status income _merge
0  Alabama  31  2019-02-17                3        married  40423   both
1  Alabama  31  2019-02-17                3        married  40423   both
2  Alabama  31  2019-02-17                3        married  40423   both
3  Alabama  31  2019-02-17                3        married  40423   both
4  Alabama  31  2019-02-17                3        married  40423   both
5  Alabama  31  2019-02-17                3        married  40423   both
6  Alabama  31  2019-02-17                3        married  40423   both
7  Alabama  31  2019-02-17                3        married  40423   both
8  Alabama  31  2019-02-17                3        married  40423   both
9  Alabama  31  2019-02-17                3        married  40423   both

[10 rows x 29 columns]
------------------------------------
both          32435059
left_only            0
right_only           0
Name: _merge, dtype: int64


Number of rows in combined order product: 32435059
Number of columns in combined order product: 29

## Export this new dataframe as a pickle file

In [50]:
print('Saving the dataframe..')

df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_customer_merged.pkl'))

print('Data exported successfully')

Saving the dataframe..
Data exported successfully